.topstoryMain {
  margin-bottom: 40px;
  padding-top: 40px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 32px;
  }
  .tag {
    position: absolute;
  }
  &__link {
    display: flex;
    gap: 24px;
    text-decoration: none;
    @include media-breakpoint-down(xl) {
      flex-direction: column;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__img {
    aspect-ratio: 620/413;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }
  h1 {
    font-weight: 700;
    display: block;
    font-size: 40px;
    line-height: 1.2;
    color: var(--color-light);
    text-decoration-color: transparent;
    margin-bottom: 16px;
    font-family: "Playfair Display", serif;
    letter-spacing: 1.5px;
    @include media-breakpoint-down(lg) {
      font-size: 32px;
    }
  }
  &__info {
    max-width: 21rem;
    padding-top: 8px;
    width: 100%;
    @include media-breakpoint-down(xl) {
      max-width: 100%;
    }
    span {
      display: block;
      color: var(--color-violet-600);
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.topstoryBan {
  display: block;
  width: 100%;
  aspect-ratio: 950/120;
  height: auto;
  margin-bottom: 40px;
  @include media-breakpoint-down(lg) {
    //  aspect-ratio: 351/177;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
