<section class="topstoryMain">
  <a href="#" class="topstoryMain__link">
    <div class="topstoryMain__img">
      <img src="images/content/post.jpg" loading="lazy" alt="clanek" />
      <span class="tag tag--pink">POJĎ TANČIT</span>
    </div>
    <div class="topstoryMain__info">
      <h1>
        Ondřej Ruml nahání strach. Soupeři ze StarDance si myslí, že umí tančit
      </h1>
      <span >22.4.2024 / FILIP KARÁSEK</span>
    </div>
  </a>
</section>
