<section class="hpSlider">
  <div class="hpSlider__inner">
    <a href="#" class="hpSlider__item">
      <img src="images/content/post.jpg" loading="lazy" alt="klub" />
      <div class="h3">Latina</div>
    </a>
    <a href="#" class="hpSlider__item">
      <img src="images/content/post.jpg" loading="lazy" alt="klub" />
      <div class="h3">Breakdance</div>
    </a>
    <a href="#" class="hpSlider__item">
      <img src="images/content/post.jpg" loading="lazy" alt="klub" />
      <div class="h3">Standardní tance</div>
    </a>
    <a href="#" class="hpSlider__item">
      <img src="images/content/post.jpg" loading="lazy" alt="klub" />
      <div class="h3">Rock’n’Roll</div>
    </a>
    <a href="#" class="hpSlider__item">
      <img src="images/content/post.jpg" loading="lazy" alt="klub" />
      <div class="h3">Latina</div>
    </a>
    <a href="#" class="hpSlider__item">
      <img src="images/content/post.jpg" loading="lazy" alt="klub" />
      <div class="h3">Breakdance</div>
    </a>
    <a href="#" class="hpSlider__item">
      <img src="images/content/post.jpg" loading="lazy" alt="klub" />
      <div class="h3">Standardní tance</div>
    </a>
    <a href="#" class="hpSlider__item">
      <img src="images/content/post.jpg" loading="lazy" alt="klub" />
      <div class="h3">Rock’n’Roll</div>
    </a>
    <a href="#" class="hpSlider__item">
      <img src="images/content/post.jpg" loading="lazy" alt="klub" />
      <div class="h3">Latina</div>
    </a>
    <a href="#" class="hpSlider__item">
      <img src="images/content/post.jpg" loading="lazy" alt="klub" />
      <div class="h3">Breakdance</div>
    </a>
    <a href="#" class="hpSlider__item">
      <img src="images/content/post.jpg" loading="lazy" alt="klub" />
      <div class="h3">Standardní tance</div>
    </a>
    <a href="#" class="hpSlider__item">
      <img src="images/content/post.jpg" loading="lazy" alt="klub" />
      <div class="h3">Rock’n’Roll</div>
    </a>
  </div>
</section>
