.hpYouTube {
  margin-bottom: 80px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
  }
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px;
    &-link {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 1.75;
      color: var(--color-violet-950);
      gap: 4px;
      letter-spacing: 0.5px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    h6 {
      font-family: "Playfair Display", serif;
      font-size: 32px;
      color: var(--color-dark);
      font-weight: 700;
      line-height: 1.25;
    }
  }
  &__item {
    display: block;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    &:hover {
      .h3 {
        text-decoration-color: inherit;
      }
      .hpYouTube__img img {
        transform: scale(1.1);
      }
    }
  }
  &__img {
    width: 100%;
    position: relative;
    aspect-ratio: 400/225;
    height: auto;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }
}
.hpYoutube__info {
  padding: 32px 24px;
  background-color: var(--color-violet-950);
  width: 100%;
  height: 100%;
  position: relative;
  span {
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    left: 24px;
    transform: translateY(-108%);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: none !important;
    }
  }
  .h3 {
    display: block;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s;
  }
}
