<section class="hpYouTube">
  <div class="container">
    <div class="hpYouTube__header">
      <h6>YouTube ČSTS</h6>

      <a href="#" class="hpYouTube__header-link" target="_blank">
        Přejít na kanál {% include "@images/arrow-right.svg" %}
      </a>
    </div>
    <div class="row g-5">
      <div class="col-lg-4">
        <a href="#" class="hpYouTube__item">
          <div class="hpYouTube__img">
            <img src="images/content/post.jpg" loading="lazy" alt="youtube" />
          </div>
          <div class="hpYoutube__info">
            <span
              ><img src="images/ico/play.svg" alt="play" loading="lazy"
            /></span>
            <div class="h3">My jsme taneční sport - Standardní tance</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="hpYouTube__item">
          <div class="hpYouTube__img">
            <img src="images/content/post.jpg" loading="lazy" alt="youtube" />
          </div>
          <div class="hpYoutube__info">
            <span
              ><img src="images/ico/play.svg" alt="play" loading="lazy"
            /></span>
            <div class="h3">My jsme taneční sport - Standardní tance</div>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="hpYouTube__item">
          <div class="hpYouTube__img">
            <img src="images/content/post.jpg" loading="lazy" alt="youtube" />
          </div>
          <div class="hpYoutube__info">
            <span
              ><img src="images/ico/play.svg" alt="play" loading="lazy"
            /></span>
            <div class="h3">My jsme taneční sport - Standardní tance</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
