.hpPartners {
  padding-bottom: 80px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 40px;
  }
  &__title {
    font-size: 32px;
    line-height: 1.25;
    color: var(--color-dark);
    margin-top: 72px;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 0.75px;
    @include media-breakpoint-down(lg) {
      margin-top: 40px;
      font-size: 24px;
    }
  }

  &__item {
    display: block;
    height: 56px;
    width: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
