<section class="hpPartners">
  <div class="container">
    <div class="hpPartners__title">Sdružující a partnerské organizace</div>
    <div class="hpPartners__inner">
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-1.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-2.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-3.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-4.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-5.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-6.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-7.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-1.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-2.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-3.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-4.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-5.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-6.png" alt="partner" loading="lazy" />
      </a>
      <a target="_blank" href="#" class="hpPartners__item">
        <img src="images/content/partner-7.png" alt="partner" loading="lazy" />
      </a>
    </div>
  </div>
</section>
