<div class="hpBans">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-4">
        <a class="hpBans__item" href="#" target="_blank">
          <img src="https://placehold.co/400x200" alt="ban" loading="lazy" />
        </a>
      </div>
      <div class="col-lg-4">
        <a class="hpBans__item" href="#" target="_blank">
          <img src="https://placehold.co/400x200" alt="ban" loading="lazy" />
        </a>
      </div>
      <div class="col-lg-4">
        <a class="hpBans__item" href="#" target="_blank">
          <img src="https://placehold.co/400x200" alt="ban" loading="lazy" />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="hpBans__item" href="#" target="_blank">
          <img src="https://placehold.co/620x310" alt="ban" loading="lazy" />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="hpBans__item" href="#" target="_blank">
          <img src="https://placehold.co/620x310" alt="ban" loading="lazy" />
        </a>
      </div>
    </div>
  </div>
</div>
