<article class="article">
  <div class="container">
    <div class="article__item">
      <div class="tag tag--pink">POJĎ TANČIT</div>
      <h1>
        Ondřej Ruml nahání strach. Soupeři ze StarDance si myslí, že umí tančit
      </h1>
      <p>
        Podstatou je introvert, což se ovšem nevylučuje s tím, že se rád
        předvádí na divadelních prknech a koncertních pódiích. Teď se ale Ondřej
        Ruml (42) ukáže i na tanečním parketu. Přijal totiž nabídku do
        StarDance.
      </p>
      <div class="article__item-img">
         <img src="images/content/post.jpg" loading="lazy" alt="article">
      </div>
    </div>
  </div>
</article>
