<section class="danceStyles">
  <div class="container">
    <h2 class="h2 mb-4">Taneční styly</h2>
    <div class="row g-5">
      <div class="col-xl-8">
        <p class="p1 mb-5">
          Soutěžní tance dělíme do dvou základních skupin – na standardní a
          latinskoamerické. Jejich rozřazení odpovídá charakteru a s výjimkou
          tanců tango a paso doble i geografickému původu. Mezi standardní tance
          tedy patří waltz, tango, valčík, slowfox a quickstep. Naopak sambu,
          chachu, rumbu, paso doble a jive řadíme mezi tance latinskoamerické.
          Přestože technika většiny tanců byla stanovena již v první polovině
          20. století, vycházejí z ní tanečníci i dnes. Taneční styl se ale
          neustále vyvíjí. A stejně jako u jiných sportů i taneční sport se
          neustále zrychluje.
        </p>
        <div class="row g-5">
          <div class="col-md-6">
            <a href="#" class="hpSlider__item">
              <img src="images/content/post.jpg" loading="lazy" alt="klub" />
              <div class="h3">Latina</div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" class="hpSlider__item">
              <img src="images/content/post.jpg" loading="lazy" alt="klub" />
              <div class="h3">Breakdance</div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" class="hpSlider__item">
              <img src="images/content/post.jpg" loading="lazy" alt="klub" />
              <div class="h3">Standardní tance</div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" class="hpSlider__item">
              <img src="images/content/post.jpg" loading="lazy" alt="klub" />
              <div class="h3">Rock’n’Roll</div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" class="hpSlider__item">
              <img src="images/content/post.jpg" loading="lazy" alt="klub" />
              <div class="h3">Latina</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="col-12">
          {% include "@components/aside/aside-default.twig" %}
        </div>
      </div>
    </div>
  </div>
</section>
