<aside class="aside">
  <ul class="aside__menu">
    <li>
      <a href="#">Desktop submenu položka</a>
    </li>
    <li>
      <a href="#">Desktop submenu položka</a>
    </li>
    <li>
      <a class="active" href="#">Desktop submenu položka aktivní</a>
    </li>
    <li>
      <a href="#">Desktop submenu položka</a>
    </li>
    <li>
      <a href="#">Desktop submenu položka</a>
    </li>
    <li>
      <a href="#">Desktop submenu položka</a>
    </li>
    <li>
      <a href="#">Desktop submenu položka</a>
    </li>
  </ul>
  
</aside>
