<aside class="aside">
  <h3 class="h4 mb-3">Nabídka</h3>
  <ul class="aside__menu">
    <li>
      <a href="#">Sekretariát</a>
    </li>
    <li>
      <a href="#">Statutární zástupci</a>
    </li>
    <li>
      <div class="active">Výkonná rada</div>
    </li>
    <li>
      <a href="#">Dozorčí rada</a>
    </li>
    <li>
      <a href="#">Disciplinární a smírčí komise</a>
    </li>
    <li>
      <a href="#">Etická komise</a>
    </li>
  </ul>
</aside>
