<section class="article-detail">
  <div class="o-content">
    <div class="row">
      <div class="col-xl-9 col-md-11 mx-auto">
        <p>
          Přesto si dost lidí myslí opak. „Lucka Vondráčková mi nedávno na
          nějakém setkání ke StarDance říkala: Ty jsi v pohodě, ne? Ty přece
          umíš tancovat… Někdo mi to teď říkal, že se to o tobě málo ví, ale že
          jsi výborný. Tak to je úplný nesmysl. Jsem zpěvák, ne tanečník, a když
          zpívám swing, tak se na pódiu moc nepohybuji. Nestepuji jako třeba
          Ondřej Havelka,“ vyvrací domněnky Ondřej Ruml.
        </p>
        <p>
          StarDance bere jako životní výzvu a nový impulz. „Každé tři roky dělám
          nějaký velký projekt, buďto připravuji něco v divadle nebo točím
          desku. A teď vstoupila do mého života StarDance. Tak ji beru jako
          zkoušení dalšího divadelního představení. A jako herec se budu snažit
          osvojit si roli tanečníka,“ prozradil.
        </p>
        <p>
          Taneční absolvoval ještě jako teenager v Jablonci nad Nisou. Vzpomínky
          má hezké, ale pamatuje si jenom cha chu a valčík. „Víc jsme chodili za
          taneční než do tanečních, přiznává.“ Celou dobu doufal, že mu Česká
          televize ve StarDance přidělí partnerku, která nebude o hodně menší
          než on.
        </p>
      </div>
      <div class="col-12">
        <a href="#" target="_blank" class="topstoryBan my-lg-5 my-4">
          <img src="https://placehold.co/950x120" alt="ban" loading="lazy" />
        </a>
      </div>
      <div class="col-xl-9 col-md-11 mx-auto">
        <h4>
          Když měl Ruml bojovat o partnerku v tanečních, moc dobře si nevedl
        </h4>
        <p>
          „Ne, že by mi malé ženy vadily, ale bojím se, že bych se při tanci
          trochu hrbil a porotě by se to nemuselo líbit,“ říká hudebník, který
          nakonec bude tančit s Andreou Třeštikovou. Ta už zkušenosti s vysokými
          partnery má, dvoumetrového Romana Zacha dovedla ke čtvrtému místu v
          osmé řadě taneční soutěže.
        </p>
        <p>
          Když měl Ruml bojovat o partnerku v tanečních, moc dobře si nevedl.
          „Vyhlásila se pánská volenka a všichni kluci běželi za tou, která se
          jim líbila. Ale já jsem se styděl být tak dravý a lačný. Rychle utíkat
          a šťouchat lokty kolem sebe... Takže než jsem se za nimi dostal, byly
          holky, které se mi líbily, už rozebrané. Ale tančil jsem pak s jednou
          drobnější sympatickou slečnou a taky to šlo,“ prozradil.
        </p>
      </div>
      <div class="col-12">
        <q>
          „Vyhlásila se pánská volenka a všichni kluci běželi za tou, která se
          jim líbila. Ale já jsem se styděl být tak dravý a lačný. Rychle utíkat
          a šťouchat lokty kolem sebe. Takže než jsem se za nimi dostal, byly
          holky, které se mi líbily, už rozebrané.“
        </q>
      </div>
      <div class="col-xl-9 col-md-11 mx-auto">
        <p>
          Mezi tanečníky a tanečnicemi, kteří doprovodí desítku známých
          osobností, je i Dominik Vodička. Ten bude obhajovat loňský titul krále
          tanečního parketu, který získal po boku herečky Dariji Pavlovičové.
          Nebude chybět ani Martin Prágr, který letos soutěží v reality show
          Survivor.
        </p>
        <p>
          Změna nastane v porotě. Jan Tománek nahradí dlouholetého porotce
          Zdeňka Chlopčíka. Výkony ve StraDance budou hodnotit i Richard Genzer
          a Tatiana Drexler.
        </p>
        <p>
          Jako hlavní choreograf skončil Marek Zelinka, který vyhrál sedmou řadu
          s herečkou Marií Doležalovou. Sám se rozhodl v projektu nepokračovat.
          Letošní taneční páry budou od července spolupracovat s choreografy
          Ivanou Hannichovou a Martinem Koldou, kteří si pozici hlavního
          choreografa rozdělí.
        </p>
        <p>
          Předchozí dvanáctou řadu StarDance v roce 2023 vyhrál pár Darija
          Pavlovičová a tanečník Dominik Vodička. Na druhém místě skončila
          snowboardistka Eva Adamczyková s tanečním partnerem Jakubem Mazůchem.
          Bronzová pozice patří olympionikovi Vavřinci Hradilkovi a Kateřině
          Bartůněk Hrstkové. Dvanáctá řada StarDance oslovila téměř 4,5 milionu
          diváků.
        </p>
      </div>
      <div class="col-12">
        <a href="#" target="_blank" class="article-detail__youtube">
          <img
            src="images/content/post.jpg"
            loading="lazy"
            alt="article-detail"
          />
          <span
            ><img src="images/ico/play.svg" alt="play" loading="lazy"
          /></span>
        </a>
      </div>
      <div class="col-xl-9 col-md-11 mx-auto">
        <p>
          Mezi tanečníky a tanečnicemi, kteří doprovodí desítku známých
          osobností, je i Dominik Vodička. Ten bude obhajovat loňský titul krále
          tanečního parketu, který získal po boku herečky Dariji Pavlovičové.
          Nebude chybět ani Martin Prágr, který letos soutěží v reality show
          Survivor.
        </p>
        <p>
          Změna nastane v porotě. Jan Tománek nahradí dlouholetého porotce
          Zdeňka Chlopčíka. Výkony ve StraDance budou hodnotit i Richard Genzer
          a Tatiana Drexler.
        </p>
      </div>
      <div class="col-12">
        <div class="article-photogallery">
          <h2 class="h2 mb-4">Fotogalerie</h2>
          <ul class="article-photogallery__inner">
            <li>
              <a
                href="#"
                class="article-photogallery__item"
                data-source="/csts/build/ajax-gallery.json"
                data-gallery-id="1"
              >
                <img src="images/content/post.jpg" loading="lazy" alt="photo" />
              </a>
            </li>
            <li>
              <a
                href="#"
                class="article-photogallery__item"
                data-source="/csts/build/ajax-gallery.json"
                data-gallery-id="2"
              >
                <img src="images/content/post.jpg" loading="lazy" alt="photo" />
              </a>
            </li>
            <li>
              <a
                href="#"
                class="article-photogallery__item"
                data-source="/csts/build/ajax-gallery.json"
                data-gallery-id="3"
              >
                <img src="images/content/post.jpg" loading="lazy" alt="photo" />
              </a>
            </li>
            <li>
              <a
                href="#"
                class="article-photogallery__item"
                data-source="/csts/build/ajax-gallery.json"
                data-gallery-id="4"
              >
                <img src="images/content/post.jpg" loading="lazy" alt="photo" />
                <div class="article-photogallery__item-count">
                  {% include "@images/album.svg" %}
                  <span><strong>48</strong> fotografií</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="article-posts">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 g-5 gy-3 mx-auto mt-0">
        <div class="row gx-5 gy-4">
          <div class="col-12">
            <h3 class="h2">Související články</h3>
          </div>
          <div class="col-lg-4">
            <div class="topstory__news">
              <div class="tag tag--blue">ČSTS</div>
              <a href="#">Nový seriál rozhovorů: Time To Talk</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="topstory__news">
              <div class="tag tag--pink">POJĎ TANČIT</div>
              <a href="#">Beseda: Motivace dětí ke sportu</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="topstory__news">
              <div class="tag tag--teal">KLUBY</div>
              <a href="#">100. výročí založení prvního tanečního klubu</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
