/*! purgecss start ignore */
.accordion-header {
  background-color: var(--color-slate-50);
  border: 1px solid var(--color-slate-200);
  border-radius: 8px;
  margin: 0 !important;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: 0.04688rem;
  font-family: "Montserrat", sans-serif;
}
.accordion-button {
  box-shadow: none !important;
  font-size: 20px;
  color: var(--color-violet-950) !important;
  cursor: pointer;
  padding: 16px;
  &::after {
    background-image: url("../images/ico/arrow-right.svg");
    background-size: 24px;
  }
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../images/ico/arrow-right.svg");
  transform: rotate(90deg);
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
}
.accordion-body {
  font-size: 16px;
  line-height: 1.75;
  padding: 24px 16px 16px;
}
/*! purgecss end ignore */
