.o-content {
  .table-responsive {
    margin: 40px auto;
    border-top: 1px solid var(--color-slate-200);
    @include media-breakpoint-down(lg) {
      margin: 32px auto;
    }
  }
  table {
    margin: 0;
  }
  p img {
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 32px;
    }
  }

  th,
  td {
    border-bottom: 1px solid var(--color-slate-200);
    text-align: left;
    font-size: 16px;
    line-height: 1.75;
  }

  iframe {
    display: block;
    @include media-breakpoint-down(md) {
      max-width: 100%;
      width: 100%;
    }
  }
  .ratio {
    margin: 40px auto;
    @include media-breakpoint-down(lg) {
      margin-bottom: 32px;
      margin-top: 32px;
    }
  }
  ul {
    color: var(--color-violet-950);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    margin: 32px 0;
    > li {
      position: relative;
      padding-left: 18px;
      border-bottom: 1px solid var(--color-slate-200);
      padding-bottom: 8px;
      margin-bottom: 8px;
      aP &::before {
        content: "";
        background-color: var(--color-violet-950);
        position: absolute;
        top: 10px;
        left: 0;
        width: 6px;
        height: 6px;
      }
      > ul {
        margin: 16px 0 0;
        > li {
          &::before {
            border-radius: 50%;
          }
        }
      }
    }
    a {
      display: block;
      text-decoration-color: transparent;
      &:hover {
        text-decoration-color: inherit;
      }
    }
    .active {
      font-weight: 700;
    }
  }
  ol {
    color: rgba(0, 17, 15, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    margin: 32px 0;
    counter-reset: item;

    > li {
      counter-increment: item;
      position: relative;
      border-bottom: 1px solid var(--color-slate-200);
      padding-bottom: 8px;
      padding-left: 28px;
      &::before {
        content: counter(item) ")";
        color: var(--color-violet-950);
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
      }
      > ol {
        margin: 16px 0 0;
        > li {
          &::before {
            content: counter(item) ".";
          }
        }
      }
      a {
        text-decoration-color: transparent;
        color: var(--color-violet-950);
        &:hover {
          text-decoration-color: inherit;
        }
      }
    }
  }
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    font-size: 18px;
    color: var(--color-dark);
    line-height: 1.778;
  }
  p + p {
    margin-top: 32px;
    @include media-breakpoint-down(lg) {
      margin-top: 24px;
    }
  }
  h2 {
    margin-bottom: 24px;
    margin-top: 40px;
  }
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-dark) !important;
  }
  h6,
  h5,
  h4 {
    margin-top: 40px;
    margin-bottom: 16px;
  }
  q {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.333;
    padding: 40px;
    margin: 40px auto;
    width: 100%;
    border-top: 2px solid var(--color-slate-950);
    border-bottom: 2px solid var(--color-slate-950);
    @include media-breakpoint-down(lg) {
      margin: 24px auto;
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 20px;
    }
    @include media-breakpoint-down(md) {
      padding: 24px 16px;
    }
    &::before,
    &::after {
      display: none;
    }
  }
}

.h1 {
  font-size: 48px;
  font-family: "Playfair Display", serif;
  line-height: 1.167;
  letter-spacing: 0.5px;
  @include media-breakpoint-down(lg) {
    font-size: 36px;
  }
}
.o-content h2,
.h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.75px;
  font-family: "Playfair Display", serif;
  @include media-breakpoint-down(lg) {
    font-size: 28px;
  }
}
.h3,
.o-content h3 {
  color: var(--color-light);
  font-size: 24px;
  line-height: 1.333;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  display: block;
  letter-spacing: 0.5px;
  @include media-breakpoint-down(lg) {
    font-size: 22px;
    line-height: 1.4;
  }
}
.o-content h4,
.h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  font-family: "Playfair Display", serif;
  @include media-breakpoint-down(lg) {
    font-size: 18px;
    line-height: 1.5;
  }
}

.o-content h6,
.h6 {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.static-section {
  padding-bottom: 80px;
  @include media-breakpoint-down(xl) {
    padding-bottom: 40px;
  }
}
.p1 {
  font-size: 18px;
  line-height: 1.778;
  color: var(--color-dark);
}

.static-section {
  .hpSlider__item {
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 400/267;
  }
}
