<section class="contacts-section">
  <div class="container">
    <h2 class="h2 mb-4">Výkonná rada</h2>
    <div class="row g-5">
      <div class="col-xl-8">
        <div class="row g-5">
          <div class="col-md-6">
            <div class="contactItem">
              <div class="contactItem__box">
                <div class="contactItem__img">
                  <img
                    src="images/content/ava.png"
                    alt="avatar"
                    loading="lazy"
                  />
                </div>
                <div class="contactItem__info">
                  <h4 class="h4">Ing. Rostislav Filgas</h4>
                  <p class="contactItem__position">prezident ČSTS</p>
                  <ul class="contactItem__contacts">
                    <li>
                      <a href="mailto:president@csts.cz">president@csts.cz</a>
                    </li>
                    <li>+420 605 407 830</li>
                  </ul>
                </div>
              </div>
              <div class="contactItem__bottom">
                <p>
                  Jako hlavní choreograf skončil Marek Zelinka, který vyhrál
                  sedmou řadu s herečkou Marií Doležalovou.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contactItem">
              <div class="contactItem__box">
                <div class="contactItem__img">
                  <img
                    src="images/content/ava.png"
                    alt="avatar"
                    loading="lazy"
                  />
                </div>
                <div class="contactItem__info">
                  <h4 class="h4">Ing. Martin Dvořák</h4>
                  <p class="contactItem__position">vedoucí oblasti sportu</p>
                  <ul class="contactItem__contacts">
                    <li>
                      <a href="mailto:president@csts.cz">president@csts.cz</a>
                    </li>
                    <li>+420 605 407 830</li>
                  </ul>
                </div>
              </div>
              <div class="contactItem__bottom">
                <p>
                  Jako hlavní choreograf skončil Marek Zelinka, který vyhrál
                  sedmou řadu s herečkou Marií Doležalovou.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contactItem">
              <div class="contactItem__box">
                <div class="contactItem__img">
                  <img
                    src="images/content/ava.png"
                    alt="avatar"
                    loading="lazy"
                  />
                </div>
                <div class="contactItem__info">
                  <h4 class="h4">Ing. Radek Felcman</h4>
                  <p class="contactItem__position">
                    vedoucí oblasti profesní a licencí
                  </p>
                  <ul class="contactItem__contacts">
                    <li>
                      <a href="mailto:president@csts.cz">president@csts.cz</a>
                    </li>
                    <li>+420 605 407 830</li>
                  </ul>
                </div>
              </div>
              <div class="contactItem__bottom">
                <p>
                  Jako hlavní choreograf skončil Marek Zelinka, který vyhrál
                  sedmou řadu s herečkou Marií Doležalovou.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contactItem">
              <div class="contactItem__box">
                <div class="contactItem__img">
                  <img
                    src="images/content/ava.png"
                    alt="avatar"
                    loading="lazy"
                  />
                </div>
                <div class="contactItem__info">
                  <h4 class="h4">Ing. Filip Karásek</h4>
                  <p class="contactItem__position">
                    vedoucí oblasti vnitřních záležitostí
                  </p>
                  <ul class="contactItem__contacts">
                    <li>
                      <a href="mailto:president@csts.cz">president@csts.cz</a>
                    </li>
                    <li>+420 605 407 830</li>
                  </ul>
                </div>
              </div>
              <div class="contactItem__bottom">
                <p>
                  Jako hlavní choreograf skončil Marek Zelinka, který vyhrál
                  sedmou řadu s herečkou Marií Doležalovou.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="col-12">{% include "@components/aside/aside.twig" %}</div>
      </div>
    </div>
  </div>
</section>
