<section class="partners-section">
  <div class="container">
    <h2 class="h2">Generální partner</h2>
    <ul class="partners-section__list">
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-4.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-6.png" alt="partner" />
        </a>
      </li>
    </ul>

    <h2 class="h2">Hlavní partner</h2>
    <ul class="partners-section__list">
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-1.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-2.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-3.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-5.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-1.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-7.png" alt="partner" />
        </a>
      </li>
    </ul>

    <h2 class="h2">Mediální partner</h2>
    <ul class="partners-section__list">
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-1.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-2.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-3.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-5.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-1.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-7.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-5.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-4.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-6.png" alt="partner" />
        </a>
      </li>
    </ul>

    <h2 class="h2">Partneři</h2>
    <ul class="partners-section__list">
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-1.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-2.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-3.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-5.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-1.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-7.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-5.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-4.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-6.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-1.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-2.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-3.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-5.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-1.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-7.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-5.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-4.png" alt="partner" />
        </a>
      </li>
      <li class="partners-section__item">
        <a href="#" target="_blank">
          <img src="images/content/partner-6.png" alt="partner" />
        </a>
      </li>
    </ul>
  </div>
</section>
