.hpSearch {
  margin-bottom: 80px;
  @include media-breakpoint-down(xl) {
    margin-bottom: 32px;
  }
  &-wrapper {
    background-image: url("../images/content/bg-search.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    z-index: 2;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    line-height: 1.144;
    max-width: 580px;
    margin: 0 auto 40px;
    text-align: center;
    color: var(--color-light);
    @include media-breakpoint-down(lg) {
      font-size: 32px;
      padding: 0 20px;
    }
  }
}

.hpSearch-form {
  background-color: var(--color-light);
  padding: 8px;
  box-shadow: rgba(2, 6, 23, 0.1);
  border-radius: 24px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 8px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../images/ico/map-pin.svg");
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md) {
      top: 27px;
      transform: none;
    }
  }
  @include media-breakpoint-down(md) {
    flex-direction: column;
    max-width: 90%;
    width: 100%;
  }
  &__input {
    height: 64px;
    width: 452px;
    background-color: var(--color-violet-50);
    border: none;
    border-radius: 16px;
    padding-left: 44px;
    font-size: 16px;
    color: var(--color-violet-950);
    line-height: 1.75;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    &::placeholder {
      color: var(--color-violet-950);
    }
  }
  &__btn {
    color: var(--color-light);
    background-color: var(--color-violet-950);
    height: 64px;
    border: none;
    max-width: 144px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 16px;
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
    &:hover {
      background-color: var(--color-violet-600);
    }
  }
}
