<section class="hpSearch">
  <div class="container">
    <div class="hpSearch-wrapper">
      <h5 class="hpSearch__title">
        Najdi svůj klub a začni s tanečním sportem!
      </h5>
      <form action="" class="hpSearch-form">
         <input type="text" class="hpSearch-form__input" placeholder="Zadej název tvého města nebo obce">
         <button class="hpSearch-form__btn">Vyhledat</button>
      </form>
    </div>
  </div>
</section>
