<section class="menuNews">
  <h2>Krátké zprávy</h2>
  <div class="menuNews__item">
    <h3>Otevřená výzva - Redaktor webu a sociálních sítí</h3>
    <p>
      Vyhlašujeme otevřenou výzvu na post - Redaktor webu a sociálních sítí.
      Hledáme někoho, kdo se v tvorbě obsahu na web a sociální sítě cítí jako
      ryba ve vodě!
    </p>
    <span> 22.4.2024 - 23:00 </span>
  </div>
  <div class="menuNews__item">
    <h3>Nová výběrová řízení 2025</h3>
    <p>
      V sekci <a href="#">výběrová řízení</a> byla zveřejněna zadávací
      dokumentace výběrových řízení: Soutěže Mistrovství ČR v tanečním sportu v
      roce 2025, Soutěže VŘ v tanečním sportu v roce 2025.
    </p>
    <span>22.4.2024 - 23:00</span>
  </div>
  <div class="menuNews__item">
    <h3>Předprodej vstupenek na Mistrovství ČR SOLO</h3>
    <p>
      Přinášíme vám odkaz na <a href="#">předprodej vstupenek</a> na soutěže
      Mistrovství ČR SOLO a WDSF SOLO, které se konají v Praze ve dnech 4.-5. 5.
      2024. Připomínáme, že bližší informace o MČR naleznete v sekci Mistrovství
      ČR SOLO 2024, včetně pravidel účasti a nominačních podmínek.
    </p>
    <span>22.4.2024 - 23:00</span>
  </div>
  <div class="menuNews__item">
    <h3>Mobilní aplikace ČISTÝ SPORT</h3>
    <p>
      Přinášíme Vám informace o nové mobilní aplikaci Antidopingového výboru ČR,
      která vznikla na podporu sportovců na cestě k čistému sportu. Aplikace má
      pomoci sportovcům s ověřením, zda léky, které užívají, neobsahují zakázané
      látky. Veškeré informace o aplikaci <a href="#">naleznete ZDE.</a>
    </p>
    <span>22.4.2024 - 23:00</span>
  </div>
</section>
