<section class="contactsDivision">
  <div class="container">
    <h2 class="h2 mb-4">Pražská divize</h2>
    <div class="row g-5">
      <div class="col-xl-8">
        <ul class="contactsDivision__box">
          <li class="contactsDivision__item">
            <a href="#" class="h4"> Taneční škola Standardklub Praha </a>
            <span
              ><img src="images/ico/users.svg" alt="members" />213 členů</span
            >
          </li>
          <li class="contactsDivision__item">
            <a href="#" class="h4"> TK Sparta Praha </a>
            <span
              ><img src="images/ico/users.svg" alt="members" />213 členů</span
            >
          </li>
          <li class="contactsDivision__item">
            <a href="#" class="h4"> Taneční škola Standardklub Praha </a>
            <span
              ><img src="images/ico/users.svg" alt="members" />213 členů</span
            >
          </li>
          <li class="contactsDivision__item">
            <a href="#" class="h4">Dance Factory Prague </a>
            <span
              ><img src="images/ico/users.svg" alt="members" />213 členů</span
            >
          </li>
          <li class="contactsDivision__item">
            <a href="#" class="h4"> Taneční škola Standardklub Praha </a>
            <span
              ><img src="images/ico/users.svg" alt="members" />213 členů</span
            >
          </li>
          <li class="contactsDivision__item">
            <a href="#" class="h4"> Taneční škola Standardklub Praha </a>
            <span
              ><img src="images/ico/users.svg" alt="members" />213 členů</span
            >
          </li>
          <li class="contactsDivision__item">
            <a href="#" class="h4"> Taneční škola Standardklub Praha </a>
            <span
              ><img src="images/ico/users.svg" alt="members" />213 členů</span
            >
          </li>
          <li class="contactsDivision__item">
            <a href="#" class="h4"> Taneční škola Standardklub Praha </a>
            <span
              ><img src="images/ico/users.svg" alt="members" />213 členů</span
            >
          </li>
          <li class="contactsDivision__item">
            <a href="#" class="h4"> Taneční škola Standardklub Praha </a>
            <span
              ><img src="images/ico/users.svg" alt="members" />213 členů</span
            >
          </li>
          <li class="contactsDivision__item">
            <a href="#" class="h4"> Taneční škola Standardklub Praha </a>
            <span
              ><img src="images/ico/users.svg" alt="members" />213 členů</span
            >
          </li>
        </ul>
      </div>
      <div class="col-xl-4">
        <div class="col-12">
          <aside class="aside">
            <h3 class="h4 mb-3">Divize</h3>
            <ul class="aside__menu">
              <li>
                <a class="active" href="#">Pražská divize</a>
              </li>
              <li>
                <a href="#">Středočeská divize </a>
              </li>
              <li>
                <div class=" ">Jihočeská divize</div>
              </li>
              <li>
                <a href="#">Plzeňská divize </a>
              </li>
              <li>
                <a href="#">Karlovarská divize </a>
              </li>
              <li>
                <a href="#">Ústecká divize</a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
