<header class="header">
  <nav class="header-nav">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="row g-0 w-100">
        <div class="col-xxl-8 col-12">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#"> ČSTS </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pojď tančit! </a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="kluby"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Kluby
              </a>
              <ul class="dropdown-menu" aria-labelledby="kluby">
                <li>
                  <a class="dropdown-item" href="#"
                    >polozka polozka polozka 1</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">polozka 2</a></li>
                <li><a class="dropdown-item" href="#">polozka 3</a></li>
                <li><a class="dropdown-item" href="#">polozka 3</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Reprezentace </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Žebříčky </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Média </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Partneři </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Kontakt </a>
            </li>
            <li class="nav-item nav-item--search">
              <a class="navbar-search" href="#">
                {% include "@images/search.svg" %}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-searchMobile">
        <form action="" class="navbar-searchMobile__form">
          <input type="text" placeholder="Vyhledat na webu" />
          <button>{% include "@images/search.svg" %}</button>
        </form>
      </div>
      <div class="header__social">
        {% include "@components/social/social.twig" %}
      </div>
      <ul class="header-top__links">
        <li>
          <a href="#"><img src="images/ico/home.svg" alt="CSTS" /> CSTS.CZ</a>
        </li>
        <li>
          <a href="#"
            ><img src="images/ico/heart.svg" alt="INZERCE" /> INZERCE</a
          >
        </li>
        <li>
          <a href="#">
            <img src="images/ico/shop.svg" alt="E-SHOP" /> E-SHOP
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/ico/trophy.svg" alt="SOUTĚŽE A VÝSLEDKY" />
            SOUTĚŽE A VÝSLEDKY
          </a>
        </li>
      </ul>
    </div>
    <div class="headerMobile__btns">
      <button class="c-header__openerNews" type="button">
        {% include "@images/news.svg" %} Krátké zprávy
      </button>
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
    </div>
  </nav>
</header>
