.header {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  z-index: 999;
  @include media-breakpoint-down(xxl) {
    z-index: 997;
  }
  .header-top__links {
    display: none;
    @include media-breakpoint-down(xxl) {
      flex-direction: column;
      display: flex;
      background-color: var(--color-violet-950);
      margin: 0;
      width: 100%;
      padding: 24px;
      align-items: flex-start;
      gap: 16px;
      padding-bottom: 100px;
    }
  }
  &__social {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    @include media-breakpoint-down(xxl) {
      width: 100%;
      max-width: 100%;
      position: relative;
      justify-content: flex-start;
      margin: 0;
      left: 0;
      padding-left: 24px;
      padding-bottom: 24px;
    }
  }
  &__logo {
    display: block;
    position: absolute;
    top: 24px;
    left: 0;
    z-index: 999999;
    @media (max-width: 1720px) {
      top: 16px;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      width: 7.2rem;
      height: 6.5rem;
      object-fit: contain;
      transition: all 0.3s;
      @media (max-width: 1720px) {
        width: 6rem;
        height: 5rem;
      }
    }
  }
  &-nav {
    background-color: var(--color-violet-600);
    position: relative;

    @media (max-width: 1720px) {
      padding-right: 24px;
      padding-right: 0;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 99999rem;
      background-color: var(--color-violet-600);
      top: 0;
      height: 100%;
    }
    &::before {
      right: -100%;
    }
  }
}

.header-top {
  width: 100%;
  display: flex;
  padding: 0 40px;
  height: 4.8rem;
  align-items: center;
  position: relative;
  @media (max-width: 1720px) {
    padding-right: 16px;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 24px;
    @include media-breakpoint-down(xxl) {
      display: none;
    }
    li {
      display: block;
      height: 100%;
    }
    a {
      color: var(--color-light);
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.75px;
      text-decoration-color: transparent;
      position: relative;
      z-index: 4;
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
  &__list {
    display: flex;
    align-items: center;
    margin-left: 9.9rem;
    @media (max-width: 1720px) {
      margin-left: auto;
    }

    a {
      color: var(--color-light);
      display: block;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      text-decoration-color: transparent;
      height: 100%;
      position: relative;
      &:hover {
        text-decoration-color: inherit;
      }
    }
    li {
      display: block;
      height: 100%;
    }
    li + li {
      position: relative;
      padding-left: 18px;
      margin-left: 8px;
      @media (max-width: 1720px) {
        display: none;
      }
      &::before {
        content: "";
        position: absolute;
        left: -2px;
        top: -10px;
        width: 16px;
        height: 32px;
        background-image: url("../images/ico/separator.svg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 40px;
  flex-wrap: wrap;
  @media (max-width: 1720px) {
    margin-right: 0;
  }
  @include media-breakpoint-down(xxl) {
    flex-direction: column;
    position: relative;
    z-index: 9999;
    width: 100%;
  }
}
.navbar-collapse {
  display: block !important;
  align-items: center;
  position: relative;
  z-index: 9999;
  @include media-breakpoint-down(xxl) {
    background-color: var(--color-violet-600);
    position: absolute;
    top: 100%;
    right: -16px;
    z-index: 99999;
    width: 100%;
    padding: 1rem 0;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    transition: opacity 0.3s, visibility 0.3s;
    flex-wrap: wrap;
    padding-top: 32px;
    min-width: 320px;
    padding-bottom: 0;
    max-width: 340px;
  }
  @include media-breakpoint-down(md) {
    width: calc(100% + 32px) !important;
    max-width: calc(100% + 32px) !important;
  }
}
.is-nav-open .navbar-collapse {
  @include media-breakpoint-down(xxl) {
    visibility: visible;
    opacity: 1;
    display: flex;

    z-index: 999999;
  }
}
.nav-item {
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  @include media-breakpoint-down(xxl) {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
  }
  &--search {
    @include media-breakpoint-down(xxl) {
      display: none;
    }
  }
}
.navbar-searchMobile {
  display: none;
  border: none;
  margin-top: 28px;
  margin-bottom: 32px;
  width: 100%;
  padding: 0 24px;
  &__form {
    background-color: var(--color-violet-50);
    border-radius: 16px;
    overflow: hidden;
    height: 64px;
    display: flex;
    align-items: center;
  }
  input {
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 16px;
    outline: none;
    color: var(--color-violet-950);
    &:placeholder {
      color: var(--color-violet-950);
    }
  }
  button {
    padding: 0 16px;
    height: 100%;
    border: none;
    margin: 0;
    display: block;
    cursor: pointer;
    background: transparent;

    svg {
      display: block;
      width: 24px;
      height: 24px;
      border: none;
    }
    svg g path:nth-child(2) {
      stroke: var(--color-violet-950);
    }
  }
  @include media-breakpoint-down(xxl) {
    display: block;
  }
}
.nav-item + .nav-item {
  padding-left: 28px;
  margin-left: 16px;
  position: relative;
  @media (max-width: 1720px) {
    padding-left: 24px;
  }
  @include media-breakpoint-down(xxl) {
    margin-left: 0;
  }
  &::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 1rem;
    width: 16px;
    height: 32px;
    background-image: url("../images/ico/separator-dark.svg");
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(xxl) {
      display: none;
    }
  }
}
.nav-link {
  color: var(--color-light);
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  line-height: 22px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.3s;
  letter-spacing: 0.5px;
  @include media-breakpoint-down(xxl) {
    width: 100%;
  }
  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }
  &:hover {
    text-decoration-color: inherit;
    color: var(--color-light);
  }
}
.navbar-search {
  width: 24px;
  height: 24px;
  display: block;
}
.is-nav-open .header .navbar-expand-lg .navbar-collapse {
  @include media-breakpoint-down(xxl) {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}
.c-header__opener {
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  color: var(--color-light);
  text-transform: uppercase;
  margin-right: 8px;
  z-index: 999;
  padding: 16px 4px 16px 20px;
  margin: 0;
  border-left: 1px solid var(--color-violet-950);
  width: fit-content;
  cursor: pointer;

  span {
    transition: all 0.3s;
    width: 24px;
    height: 24px;
    display: block;
    background-image: url("../images/ico/menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:focus {
    box-shadow: none;
  }
}
.c-header__opener.is-open {
  span {
    background-image: url("../images/ico/close.svg");
    background-repeat: no-repeat;
  }
}
.headerMobile__btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include media-breakpoint-only(xxl) {
    display: none;
  }
  @include media-breakpoint-only(xxl) {
    display: none;
  }
}

.c-header__openerNews {
  padding-right: 20px;
  display: flex;
  align-items: center;
  color: var(--color-light);
  position: relative;
  z-index: 2;
  background-color: transparent;
  outline: none;
  border: none;
  gap: 4px;
  height: 100%;
  cursor: pointer;
  padding: 14px 8px;
  svg {
    width: 24px;
    height: 24px;
  }
}

.is-openNew {
  .menuNews {
    display: block !important;
    position: fixed;
    top: 0;
    background-color: var(--color-violet-50);
    right: 0;
    min-width: 320px;
    padding-left: 24px;
    padding-right: 24px;
    overflow-y: scroll;
    height: 100vh;
    z-index: 999;
  }
  .menuNewsBtn {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 999;
    cursor: pointer;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 99;
  background-color: #f7f8f9;
  top: 98%;
  left: -20px;
  float: left;
  min-width: 320px;
  margin: 0 0;
  font-size: 1rem;
  color: var(--color-violet-950);
  text-align: left;
  list-style: none;
  overflow: hidden;
  display: none;
  overflow: hidden;
  visibility: hidden;

  border-radius: 12px;
  border: 1px solid var(--color-violet-950);
  box-shadow: 0px 12px 16px -4px #10182814;
  @include media-breakpoint-down(xxl) {
    text-align: center;
    position: static;
    transform: none;
    flex-direction: column;
    box-shadow: none;
    transform: none;
    border-left: none;
    border-right: none;
    width: 100%;
    text-align: right;
    left: 0 !important;
    background-color: var(--color-violet-600);
    padding-right: 0;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-end;
    margin-top: 12px;
    li {
      margin-bottom: 8px;
    }
  }
  &.show {
    display: flex;
    flex-direction: column;
    visibility: visible;
    overflow: visible;
  }
  li:last-child .dropdown-item {
    border: none;
  }
}
.nav-item.dropdown:hover {
  .dropdown-menu {
    display: flex;
    visibility: visible;
    flex-direction: column;
  }
}
.dropdown-item {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: var(--color-violet-950);
  display: flex;
  position: relative;
  padding: 8px 24px;
  clear: both;
  white-space: nowrap;
  background-color: transparent;
  text-decoration: none;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  @include media-breakpoint-down(xxl) {
    display: block;
    transform: none;
    width: 100%;
    left: 0;
    padding-left: 0;
    padding-right: 16px;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: var(--color-light) !important;
    text-align: left;
    &:hover,
    &:focus {
      background-color: var(--color-violet-600);
      color: var(--color-violet-950);
    }
  }
  &:hover,
  &:focus {
    color: var(--color-violet-950);
    background-color: var(--color-violet-200);
  }
}

.dropdown-menu.show {
  @include media-breakpoint-down(xxl) {
    transform: none !important;
    width: 100% !important;
    min-width: auto !important;
    top: 0 !important;
    position: relative !important;
    min-width: 320px !important;
    background-color: var(--color-violet-600);
    margin-top: 12px !important;
  }
}
