<header class="header">
  <nav class="header-nav">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="row g-0 w-100">
        <div class="col-xxl-8 col-12">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/o-nas"
                id="1"
                role="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
              >
                O nás
              </a>
              <ul class="dropdown-menu" aria-labelledby="1">
                <li>
                  <a class="dropdown-item" href="o-svazu">Svaz</a>
                </li>
                <li>
                  <a class="dropdown-item" href="historie">Historie</a>
                </li>
                <li>
                  <a class="dropdown-item" href="sin-slavy">Síň slavy</a>
                </li>
                <li>
                  <a class="dropdown-item" href="vize-2030">Budoucnost</a>
                </li>
                <li>
                  <a class="dropdown-item" href="wdsf">Mezinárodní tanec</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/pojd-tancit"
                id="2"
                role="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
              >
                Pojď tančit
              </a>
              <ul class="dropdown-menu" aria-labelledby="2">
                <li>
                  <a class="dropdown-item" href="tanecni-styly"
                    >Taneční styly</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/jak-zacit">Jak začít?</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/faq">Často kladené dotazy</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clubs"> Kluby </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reprezentace"> Reprezentace </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/media"
                id="5"
                role="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
              >
                Média
              </a>
              <ul class="dropdown-menu" aria-labelledby="5">
                <li>
                  <a class="dropdown-item" href="/archive">Novinky</a>
                </li>
                <li>
                  <a class="dropdown-item" href="phototgallery">Fotogalerie</a>
                </li>
                <li>
                  <a class="dropdown-item" href="tiskove-zpravy"
                    >Tiskové zprávy</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/media">Kontakt pro média</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/partners"> Partneři </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/contacs"
                id="7"
                role="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
              >
                Kontakt
              </a>
              <ul class="dropdown-menu" aria-labelledby="7">
                <li>
                  <a class="dropdown-item" href="sekretariat">Sekretariát</a>
                </li>
                <li>
                  <a class="dropdown-item" href="statutarni-zastupci"
                    >Statutární zástupci</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="vykonna-rada">Výkonná rada</a>
                </li>
                <li>
                  <a class="dropdown-item" href="dozorci-rada">Dozorčí rada</a>
                </li>
                <li>
                  <a class="dropdown-item" href="komise">Komise</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/redakce">Redakce</a>
                </li>
              </ul>
            </li>

            <li class="nav-item nav-item--search">
              <a class="navbar-search" href="#">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g fill="none" fill-rule="evenodd">
                    <path d="M0 0h24v24H0z"></path>
                    <path
                      d="M3 10a7 7 0 1014 0 7 7 0 00-14 0M21 21l-6-6"
                      stroke="#FFF"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </g>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-searchMobile">
        <form action="" class="navbar-searchMobile__form">
          <input type="text" placeholder="Vyhledat na webu" />
          <button>{% include "@images/search.svg" %}</button>
        </form>
      </div>
      <div class="header__social">
        {% include "@components/social/social.twig" %}
      </div>
      <ul class="header-top__links">
        <li>
          <a href="#"><img src="images/ico/home.svg" alt="CSTS" /> CSTS.CZ</a>
        </li>

        <li>
          <a href="#">
            <img src="images/ico/shop.svg" alt="E-SHOP" /> E-SHOP
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/ico/trophy.svg" alt="SOUTĚŽE A VÝSLEDKY" />
            SOUTĚŽE A VÝSLEDKY
          </a>
        </li>
      </ul>
    </div>
    <div class="headerMobile__btns">
      <button class="c-header__openerNews" type="button">
        {% include "@images/news.svg" %} Krátké zprávy
      </button>
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
    </div>
  </nav>
</header>
