<section class="eventCalendar">
  <div class="container">
    <div class="hpYouTube__header">
      <h6>Kalendář akcí</h6>

      <a href="#" class="hpYouTube__header-link" target="_blank">
        Kompletní kalendář {% include "@images/arrow-right.svg" %}
      </a>
    </div>
    <div class="eventCalendar__table">
      <table>
        <tbody>
          <tr>
            <td>19. 4. 2024</td>
            <td>
              <a href="#" class="name">
                WDSF PD European Championship
                <img src="images/ico/share.svg" alt="link" />
              </a>
              <div class="text-gray fz-14">PD Dospělí - Standard</div>
            </td>
            <td>
              <div class="state">
                <img src="images/content/spain.png" alt="state" />
                <div>
                  Španělsko
                  <span class="d-block fz-14 text-gray">Barcelona</span>
                </div>
              </div>
            </td>
            <td>
              <a href="#" class="nomination">
                <img src="images/ico/users.svg" alt="link" />
                Nominace
              </a>
            </td>
          </tr>
          <tr>
            <td>19. 4. 2024</td>
            <td>
              <a href="#" class="name">
                WDSF PD European Championship
                <img src="images/ico/share.svg" alt="link" />
              </a>
              <div class="text-gray fz-14">PD Dospělí - Standard</div>
            </td>
            <td>
              <div class="state">
                <img src="images/content/spain.png" alt="state" />
                <div>
                  Španělsko
                  <span class="d-block fz-14 text-gray">Barcelona</span>
                </div>
              </div>
            </td>
            <td>
              <a href="#" class="nomination">
                <img src="images/ico/users.svg" alt="link" />
                Nominace
              </a>
            </td>
          </tr>
          <tr>
            <td>19. 4. 2024</td>
            <td>
              <a href="#" class="name">
                WDSF PD European Championship
                <img src="images/ico/share.svg" alt="link" />
              </a>
              <div class="text-gray fz-14">PD Dospělí - Standard</div>
            </td>
            <td>
              <div class="state">
                <img src="images/content/spain.png" alt="state" />
                <div>
                  Španělsko
                  <span class="d-block fz-14 text-gray">Barcelona</span>
                </div>
              </div>
            </td>
            <td>
              <a href="#" class="nomination">
                <img src="images/ico/users.svg" alt="link" />
                Nominace
              </a>
            </td>
          </tr>
          <tr>
            <td>19. 4. 2024</td>
            <td>
              <a href="#" class="name">
                WDSF PD European Championship
                <img src="images/ico/share.svg" alt="link" />
              </a>
              <div class="text-gray fz-14">PD Dospělí - Standard</div>
            </td>
            <td>
              <div class="state">
                <img src="images/content/spain.png" alt="state" />
                <div>
                  Vila Nova de Famalicao
                  <span class="d-block fz-14 text-gray">Barcelona</span>
                </div>
              </div>
            </td>
            <td>
              <a href="#" class="nomination">
                <img src="images/ico/users.svg" alt="link" />
                Nominace
              </a>
            </td>
          </tr>
          <tr>
            <td>19. 4. 2024</td>
            <td>
              <a href="#" class="name">
                European Championship
                <img src="images/ico/share.svg" alt="link" />
              </a>
              <div class="text-gray fz-14">Senioři III. - Latina</div>
            </td>
            <td>
              <div class="state">
                <img src="images/content/spain.png" alt="state" />
                <div>
                  Španělsko
                  <span class="d-block fz-14 text-gray">Barcelona</span>
                </div>
              </div>
            </td>
            <td>
              <a href="#" class="nomination">
                <img src="images/ico/users.svg" alt="link" />
                Nominace
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
