.eventCalendar {
  margin-bottom: 80px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
  }
  .hpYouTube__header {
    flex-wrap: wrap;
    gap: 12px;
  }
  &__bottom {
    padding-bottom: 80px;
    @include media-breakpoint-down(lg) {
      padding-bottom: 40px;
    }
  }
  &__table {
    border: 1px solid var(--color-slate-200);
    border-radius: 8px;
    table {
      width: 100%;

      border-collapse: collapse;
    }
    tr:nth-child(even) {
      background-color: var(--color-slate-50);
    }
    tr:last-child td {
      border: none;
    }
    tr {
      @include media-breakpoint-down(sm) {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--color-slate-200);
        padding: 8px 0;
      }
    }
    td {
      padding: 16px;
      border-bottom: 1px solid var(--color-slate-200);
      // @include media-breakpoint-down(md) {
      //   max-width: 50%;
      //   flex: 0 0 50%;
      // }
      @include media-breakpoint-down(sm) {
        display: inline-block;
        border-bottom: none;
        padding: 8px 16px;
      }
      img {
        width: 16px;
        height: 16px;
        object-fit: contain;
      }
    }
    td:nth-child(2) {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
    td:first-child {
      @include media-breakpoint-down(sm) {
        display: block;
        width: 100%;
        padding-bottom: 0;
      }
    }
    .nomination {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--color-violet-950);
      text-decoration-color: transparent;
      justify-content: flex-end;
      &:hover {
        text-decoration-color: inherit;
      }
    }
    .state {
      display: flex;
      gap: 8px;
      line-height: 100%;
      span {
        margin-top: 6px;
      }
      img {
        width: 20px;
        height: 16px;
        object-fit: contain;
      }
    }
    .name {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 700;
      color: var(--color-violet-950);
      font-size: 20px;
      line-height: 1.4;
      text-decoration-color: transparent;
      font-family: "Montserrat", sans-serif;
      @include media-breakpoint-down(lg) {
        gap: 0;
        img {
          display: none;
        }
      }
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
}
