<section class="gallery">
  <div class="container">
    <div class="archive__header">
      <form action="" class="archive-form">
        <input
          type="text"
          class="archive-form__input"
          placeholder="Vyhledat článek"
        />
        <button class="btn">Vyhledat</button>
      </form>
      <label class="o-select">
        <select class="js-select">
          <option>Všechny kategorie</option>
          <option>Aktuální zprávy</option>
          <option>Rozhovory</option>
          <option>Reportáže</option>
          <option>Mládež</option>
          <option>Tiskové zprávy</option>
          <option>Soutěže a akce pro fanoušky</option>
          <option>Preview k zápasu</option>
          <option>Ohlasy po utkání</option>
          <option>Sledge – článek</option>
          <option>Sledge – reportáž</option>
          <option>Historie</option>
          <option>Fan Club</option>
        </select>
      </label>
    </div>
    <div class="gallery__wrapper">
      <ul class="gallery__items" id="gallery">
        <li class="gallery__item">
          <a
            href="#"
            data-source="/csts/build/ajax-gallery.json"
             
            data-gallery-id="3"
            class="hpSlider__item"
          >
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
          <span class="text-gray mt-3 d-block">
            22.4.2024 / 36 fotografií
          </span>
        </li>
        <li class="gallery__item">
          <a
            href="#"
            data-source="/csts/build/ajax-gallery.json"
            data-gallery-id="3"
            class="hpSlider__item"
          >
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
          <span class="text-gray mt-3 d-block">
            22.4.2024 / 36 fotografií
          </span>
        </li>
        <li class="gallery__item">
          <a
            href="#"
            data-source="/csts/build/ajax-gallery.json"
            data-gallery-id="3"
            class="hpSlider__item"
          >
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
          <span class="text-gray mt-3 d-block">
            22.4.2024 / 36 fotografií
          </span>
        </li>
        <li class="gallery__item">
          <a
            href="#"
            data-source="/csts/build/ajax-gallery.json"
            data-gallery-id="3"
            class="hpSlider__item"
          >
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
          <span class="text-gray mt-3 d-block">
            22.4.2024 / 36 fotografií
          </span>
        </li>
        <li class="gallery__item">
          <a
            href="#"
            data-source="/csts/build/ajax-gallery.json"
            data-gallery-id="3"
            class="hpSlider__item"
          >
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
          <span class="text-gray mt-3 d-block">
            22.4.2024 / 36 fotografií
          </span>
        </li>
        <li class="gallery__item">
          <a
            href="#"
            data-source="/csts/build/ajax-gallery.json"
            data-gallery-id="3"
            class="hpSlider__item"
          >
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
          <span class="text-gray mt-3 d-block">
            22.4.2024 / 36 fotografií
          </span>
        </li>
        <li class="gallery__item">
          <a
            href="#"
            data-source="/csts/build/ajax-gallery.json"
            data-gallery-id="3"
            class="hpSlider__item"
          >
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
          <span class="text-gray mt-3 d-block">
            22.4.2024 / 36 fotografií
          </span>
        </li>
        <li class="gallery__item">
          <a
            href="#"
            data-source="/csts/build/ajax-gallery.json"
            data-gallery-id="3"
            class="hpSlider__item"
          >
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
          <span class="text-gray mt-3 d-block">
            22.4.2024 / 36 fotografií
          </span>
        </li>
        <li class="gallery__item">
          <a
            href="#"
            data-source="/csts/build/ajax-gallery.json"
            data-gallery-id="3"
            class="hpSlider__item"
          >
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
          <span class="text-gray mt-3 d-block">
            22.4.2024 / 36 fotografií
          </span>
        </li>
        <li class="gallery__item">
          <a
            href="#"
            data-source="/csts/build/ajax-gallery.json"
            data-gallery-id="3"
            class="hpSlider__item"
          >
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
          <span class="text-gray mt-3 d-block">
            22.4.2024 / 36 fotografií
          </span>
        </li>
        <li class="gallery__item">
          <a
            href="#"
            data-source="/csts/build/ajax-gallery.json"
            data-gallery-id="3"
            class="hpSlider__item"
          >
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
          <span class="text-gray mt-3 d-block">
            22.4.2024 / 36 fotografií
          </span>
        </li>
        <li class="gallery__item">
          <a
            href="#"
            data-source="/csts/build/ajax-gallery.json"
            data-gallery-id="3"
            class="hpSlider__item"
          >
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
          <span class="text-gray mt-3 d-block">
            22.4.2024 / 36 fotografií
          </span>
        </li>
      </ul>
      <button
        type="button"
        class="btn mx-auto js-fetchHTML"
        data-fetch-url="./_album.html"
        data-fetch-container="#gallery"
        data-fetch-limit="3"
        data-text="Starší články"
        data-text-fetching="Načítám..."
        data-text-error="Omluvte chybu, nepodařilo se načíst další zprávy"
      >
        Načíst další
      </button>
    </div>
  </div>
</section>
