<section class="representation-people">
  <div class="container">
    <h2 class="h2 mb-4">Dospělí</h2>
    <div class="row g-5">
      <div class="col-xl-8">
        <div class="representation-people__wrapper">
          <div class="representationItem">
            <div class="representationItem__box">
              <div class="representationItem__img">
                <img src="images/content/ava.png" alt="avatar" loading="lazy" />
              </div>
              <a href="#" class="representationItem__link">
                {% include "@images/repres.svg" %} Články
              </a>
            </div>
            <div class="representationItem__info">
              <h3 class="h4">David Odstrčil</h3>
              <ul class="representationItem__list">
                <li>
                  <strong> Klub: </strong>
                  <span> MZ Dance Team </span>
                </li>
                <li>
                  <strong> Disciplína: </strong>
                  <span> Standardní tance </span>
                </li>
                <li>
                  <strong> WDSF rank: </strong>
                  <span> 16. místo </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="representationItem">
            <div class="representationItem__box">
              <div class="representationItem__img">
                <img src="images/content/ava.png" alt="avatar" loading="lazy" />
              </div>
              <a href="#" class="representationItem__link">
                {% include "@images/repres.svg" %} Články
              </a>
            </div>
            <div class="representationItem__info">
              <h3 class="h4">Tara Bohák</h3>
              <ul class="representationItem__list">
                <li>
                  <strong> Klub: </strong>
                  <span> Taneční a sportovní klub Opava </span>
                </li>
                <li>
                  <strong> Disciplína: </strong>
                  <span> Standardní tance </span>
                </li>
                <li>
                  <strong> WDSF rank: </strong>
                  <span> 16. místo </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="representation-people__wrapper">
          <div class="representationItem">
            <div class="representationItem__box">
              <div class="representationItem__img">
                <img src="images/content/ava.png" alt="avatar" loading="lazy" />
              </div>
              <a href="#" class="representationItem__link">
                {% include "@images/repres.svg" %} Články
              </a>
            </div>
            <div class="representationItem__info">
              <h3 class="h4">David Odstrčil</h3>
              <ul class="representationItem__list">
                <li>
                  <strong> Klub: </strong>
                  <span> MZ Dance Team </span>
                </li>
                <li>
                  <strong> Disciplína: </strong>
                  <span> Standardní tance </span>
                </li>
                <li>
                  <strong> WDSF rank: </strong>
                  <span> 16. místo </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="representationItem">
            <div class="representationItem__box">
              <div class="representationItem__img">
                <img src="images/content/ava.png" alt="avatar" loading="lazy" />
              </div>
              <a href="#" class="representationItem__link">
                {% include "@images/repres.svg" %} Články
              </a>
            </div>
            <div class="representationItem__info">
              <h3 class="h4">Tara Bohák</h3>
              <ul class="representationItem__list">
                <li>
                  <strong> Klub: </strong>
                  <span> Taneční a sportovní klub Opava </span>
                </li>
                <li>
                  <strong> Disciplína: </strong>
                  <span> Standardní tance </span>
                </li>
                <li>
                  <strong> WDSF rank: </strong>
                  <span> 16. místo </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="representation-people__wrapper">
          <div class="representationItem">
            <div class="representationItem__box">
              <div class="representationItem__img">
                <img src="images/content/ava.png" alt="avatar" loading="lazy" />
              </div>
              <a href="#" class="representationItem__link">
                {% include "@images/repres.svg" %} Články
              </a>
            </div>
            <div class="representationItem__info">
              <h3 class="h4">David Odstrčil</h3>
              <ul class="representationItem__list">
                <li>
                  <strong> Klub: </strong>
                  <span> MZ Dance Team </span>
                </li>
                <li>
                  <strong> Disciplína: </strong>
                  <span> Standardní tance </span>
                </li>
                <li>
                  <strong> WDSF rank: </strong>
                  <span> 16. místo </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="representationItem">
            <div class="representationItem__box">
              <div class="representationItem__img">
                <img src="images/content/ava.png" alt="avatar" loading="lazy" />
              </div>
              <a href="#" class="representationItem__link">
                {% include "@images/repres.svg" %} Články
              </a>
            </div>
            <div class="representationItem__info">
              <h3 class="h4">Tara Bohák</h3>
              <ul class="representationItem__list">
                <li>
                  <strong> Klub: </strong>
                  <span> Taneční a sportovní klub Opava </span>
                </li>
                <li>
                  <strong> Disciplína: </strong>
                  <span> Standardní tance </span>
                </li>
                <li>
                  <strong> WDSF rank: </strong>
                  <span> 16. místo </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="col-12">
          {% include "@components/aside/aside-default.twig" %}
        </div>
      </div>
    </div>
  </div>
</section>
