<footer class="footer">
  <div class="container">
    <div class="row gy-4 gx-0">
      <div class="col-xl-2">
        <a href="#" class="footer__logo">
          <img src="images/ico/logo.svg" alt="logo" loading="lazy" />
        </a>
      </div>
      <div class="col-xl-5 col-md-6">
        <div class="footer-col">
          <div class="h3">Český svaz tanečního sportu</div>
          <ul>
            <li>U družstva Tempo 264/10</li>
            <li>142 00 Praha</li>
          </ul>
          <ul>
            <li>IČO: 00443077</li>
            <li>Číslo účtu: 129453027/0300</li>
          </ul>
          <ul>
            <li>
              E-mail:
              <a href="mailto:sekretariat@csts.cz">sekretariat@csts.cz</a>
            </li>
            <li>Datová schránka: ad2774x</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-5 col-md-6">
        <div class="footer-col">
          <div class="h3">Buďte s námi ve spojení</div>
          <div class="footer-social">
            {% include "@components/social/social.twig" %}
          </div>
          <div class="copyright">
            © 2024 / eSports.cz & Český svaz tanečního sportu / Jakékoliv užití
            obsahu včetně převzetí, šíření či dalšího zpřístupňování článků a
            fotografií je bez souhlasu ČSTS zakázáno.
          </div>
          <ul class="footer__links">
            <li>
              <a href="#"> Nastavení cookies</a>
            </li>
            <li>
              <a href="#">Ochrana osobních údajů</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
