<section class="archive">
  <div class="container">
    <div class="archive__header">
      <form action="" class="archive-form">
        <input
          type="text"
          class="archive-form__input"
          placeholder="Vyhledat článek"
        />
        <button class="btn">Vyhledat</button>
      </form>
      <label class="o-select">
        <select class="js-select">
          <option>Všechny kategorie</option>
          <option>Aktuální zprávy</option>
          <option>Rozhovory</option>
          <option>Reportáže</option>
          <option>Mládež</option>
          <option>Tiskové zprávy</option>
          <option>Soutěže a akce pro fanoušky</option>
          <option>Preview k zápasu</option>
          <option>Ohlasy po utkání</option>
          <option>Sledge – článek</option>
          <option>Sledge – reportáž</option>
          <option>Historie</option>
          <option>Fan Club</option>
        </select>
      </label>
    </div>
    <div class="archive__wrapper">
      <ul class="archive__posts" id="articles">
        <li>
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a class="text-primary" href="#"
              >Na WDSF International Open Lat v Berlíně zabodoval Martin Tojnar
              & Kateřina Jozífová</a
            >
            <span class="text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </li>
        <li>
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a class="text-primary" href="#"
              >Nový seriál rozhovorů: Time To Talk</a
            >
            <span class="text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </li>
        <li>
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a class="text-primary" href="#"
              >Na WDSF International Open Lat v Berlíně zabodoval Martin Tojnar
              & Kateřina Jozífová</a
            >
            <span class="text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </li>
        <li>
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a class="text-primary" href="#"
              >Nový seriál rozhovorů: Time To Talk</a
            >
            <span class="text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </li>

        <li>
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a class="text-primary" href="#"
              >Na WDSF International Open Lat v Berlíně zabodoval Martin Tojnar
              & Kateřina Jozífová</a
            >
            <span class="text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </li>
        <li>
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a class="text-primary" href="#"
              >Nový seriál rozhovorů: Time To Talk</a
            >
            <span class="text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </li>
        <li>
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a class="text-primary" href="#"
              >Nový seriál rozhovorů: Time To Talk</a
            >
            <span class="text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </li>
        <li>
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a class="text-primary" href="#"
              >Na WDSF International Open Lat v Berlíně zabodoval</a
            >
            <span class="text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </li>
        <li>
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a class="text-primary" href="#"
              >Na WDSF International Open Lat v Berlíně zabodoval Martin Tojnar
              & Kateřina Jozífová</a
            >
            <span class="text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </li>
        <li>
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a class="text-primary" href="#"
              >Nový seriál rozhovorů: Time To Talk</a
            >
            <span class="text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </li>
        <li>
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a class="text-primary" href="#"
              >Na WDSF International Open Lat v Berlíně zabodoval</a
            >
            <span class="text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </li>
        <li>
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a class="text-primary" href="#"
              >Na WDSF International Open Lat v Berlíně zabodoval Martin Tojnar
              & Kateřina Jozífová</a
            >
            <span class="text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </li>
      </ul>
      <button
        type="button"
        class="btn ms-auto js-fetchHTML"
        data-fetch-url="/csts/build/_posts.html"
        data-fetch-container="#articles"
        data-fetch-limit="3"
        data-text="Starší články"
        data-text-fetching="Načítám..."
        data-text-error="Omluvte chybu, nepodařilo se načíst další zprávy"
      >
        Načíst další
      </button>
    </div>
  </div>
</section>
