<section class="topstory">
  <div class="row g-5 mb-lg-5 mb-4">
    <div class="col-lg-6">
      <a href="#" class="topstory__item">
        <div class="topstory__img">
          <img src="images/content/post.jpg" loading="lazy" alt="clanek" />
          <span class="tag tag--orange">STARDANCE</span>
        </div>
        <div class="topstory__info">
          <h3>
            StarDance, když sportovci tančí! Kdo z olympioniků už to rozbalil na
            parketu?
          </h3>
          <span>20.4.2024 / FILIP KARÁSEK</span>
        </div>
      </a>
    </div>
    <div class="col-lg-6">
      <a href="#" class="topstory__item">
        <div class="topstory__img">
          <img src="images/content/post.jpg" loading="lazy" alt="clanek" />
          <span class="tag tag--red">REPREZENTACE</span>
        </div>
        <div class="topstory__info">
          <h3>
            Na WDSF International Open Lat v Berlíně zabodoval Martin Tojnar &
            Kateřina Jozífová
          </h3>
          <span>16.4.2024 / JANA MUSALOVÁ</span>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <div class="topstory__news">
        <div class="tag tag--blue">ČSTS</div>
        <a href="#">Nový seriál rozhovorů: Time To Talk</a>
        <span>16.4.2024 / JANA MUSALOVÁ</span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="topstory__news">
        <div class="tag tag--pink">POJĎ TANČIT</div>
        <a href="#">Beseda: Motivace dětí ke sportu</a>
        <span> 15.4.2024 / FILIP KARÁSEK </span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="topstory__news">
        <div class="tag tag--teal">KLUBY</div>
        <a href="#">100. výročí založení prvního tanečního klubu</a>
        <span>12.4.2024 / FILIP KARÁSEK</span>
      </div>
    </div>
  </div>
  <a href="#" class="link ms-auto">Další zprávy</a>
</section>
