:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-violet-950: #2e1065;
  --color-violet-600: #7c3aed;
  --color-violet-200: #ddd6fe;
  --color-violet-50: #f5f3ff;
  --color-pink-600: #db2777;
  --color-red-600: #dc2626;
  --color-orange-600: #d97706;
  --color-teal-600: #0d9488;
  --color-blue-600: #2563eb;
  --color-slate-950: #020617;
}
