{% extends "@components/base/base.twig" %} {% set title =
"08.0_representation-lp" %} {% block main %}
<div class="base__wrapper">
  <div class="row">
    <div class="col-12">
      <div class="header-top">
        <a href="#" class="header__logo">
          <img src="images/ico/logo.svg" alt="logo" />
        </a>
        <ul class="header-top__list">
          <li>
            <a href="#">ČESKÝ SVAZ TANEČNÍHO SPORTU</a>
          </li>

          <li>
            <a href="#">ČLEN ČOV</a>
          </li>
        </ul>
        <ul class="header-top__links">
          <li>
            <a href="#"><img src="images/ico/home.svg" alt="CSTS" /> CSTS.CZ</a>
          </li>
          <li>
            <a href="#"
              ><img src="images/ico/heart.svg" alt="INZERCE" /> INZERCE</a
            >
          </li>
          <li>
            <a href="#">
              <img src="images/ico/shop.svg" alt="E-SHOP" /> E-SHOP
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/ico/trophy.svg" alt="SOUTĚŽE A VÝSLEDKY" />
              SOUTĚŽE A VÝSLEDKY
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12">{% include "@components/header/header.twig" %}</div>
    {% include "@components/menuNews/menuNews-2.twig" %}
  </div>
  <div class="container">
    <div class="headerPage">
      <h1 class="h1">Reprezentace</h1>
    </div>
  </div>
</div>
<main class="main" aria-label="Hlavní obsah">
  <section class="topstory">
    <div class="container">
      <div class="row g-5 mb-lg-5 mb-4">
        <div class="col-lg-6">
          <a href="#" class="topstory__item">
            <div class="topstory__img">
              <img src="images/content/post.jpg" loading="lazy" alt="clanek" />
              <span class="tag tag--orange">STARDANCE</span>
            </div>
            <div class="topstory__info">
              <h3 class="text-primary">
                StarDance, když sportovci tančí! Kdo z olympioniků už to
                rozbalil na parketu?
              </h3>
              <span class="text-gray">20.4.2024 / FILIP KARÁSEK</span>
            </div>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" class="topstory__item">
            <div class="topstory__img">
              <img src="images/content/post.jpg" loading="lazy" alt="clanek" />
              <span class="tag tag--red">REPREZENTACE</span>
            </div>
            <div class="topstory__info">
              <h3 class="text-primary">
                Na WDSF International Open Lat v Berlíně zabodoval Martin Tojnar
                & Kateřina Jozífová
              </h3>
              <span class="text-gray">16.4.2024 / JANA MUSALOVÁ</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="article-posts">
    <div class="container">
      <div class="row gx-5 gy-4">
        <div class="col-lg-4">
          <div class="topstory__news">
            <div class="tag tag--blue">ČSTS</div>
            <a href="#">Nový seriál rozhovorů: Time To Talk</a>
            <span class="mt-3 text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="topstory__news">
            <div class="tag tag--pink">POJĎ TANČIT</div>
            <a href="#"
              >Na WDSF International Open Lat v Berlíně zabodoval Martin Tojnar
              & Kateřina Jozífová</a
            >
            <span class="mt-3 text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="topstory__news">
            <div class="tag tag--teal">KLUBY</div>
            <a href="#">100. výročí založení prvního tanečního klubu</a>
            <span class="mt-3 text-gray">22.4.2024 / FILIP KARÁSEK</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "@components/eventCalendar/eventCalendar.twig" %}
  <section class="eventCalendar__bottom">
    <div class="container">
      <h2 class="h2 mb-4">Reprezentanti</h2>
      <div class="row g-5">
        <div class="col-lg-4">
          <a href="#" class="hpSlider__item">
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="#" class="hpSlider__item">
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
        </div>
        <div class="col-lg-4">
          <a href="#" class="hpSlider__item">
            <img src="images/content/post.jpg" loading="lazy" alt="klub" />
            <div class="h3">Latina</div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
