{% extends "@components/base/base.twig" %} {% set title = "09.0_history" %} {%
block main %}
<div class="base__wrapper">
  <div class="row">
    <div class="col-12">
      <div class="header-top">
        <a href="#" class="header__logo">
          <img src="images/ico/logo.svg" alt="logo" />
        </a>
        <ul class="header-top__list">
          <li>
            <a href="#">ČESKÝ SVAZ TANEČNÍHO SPORTU</a>
          </li>

          <li>
            <a href="#">ČLEN ČOV</a>
          </li>
        </ul>
        <ul class="header-top__links">
          <li>
            <a href="#"><img src="images/ico/home.svg" alt="CSTS" /> CSTS.CZ</a>
          </li>
       
          <li>
            <a href="#">
              <img src="images/ico/shop.svg" alt="E-SHOP" /> E-SHOP
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/ico/trophy.svg" alt="SOUTĚŽE A VÝSLEDKY" />
              SOUTĚŽE A VÝSLEDKY
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12">{% include "@components/header/header.twig" %}</div>
    {% include "@components/menuNews/menuNews-2.twig" %}
  </div>
  <div class="container">
    <div class="headerPage">
      <h1 class="h1">O nás</h1>
    </div>
  </div>
</div>
<main class="main" aria-label="Hlavní obsah">
  <section class="static-section">
    <div class="container">
      <h2 class="h2 mb-4">Historie tanečního sportu</h2>
      <div class="row g-5">
        <div class="col-xl-8">
          <p class="p1 mb-5">
            Každý sport má základy v některé z přirozených lidských činností a
            ani taneční sport není výjimkou. Tanec byl odpradávna součástí
            modliteb, rituálů a obřadů různých kultur a kmenů po celém světě. K
            jeho dnešní soutěžní podobě ale vedla ještě dlouhá cesta. Přímým
            předchůdcem tanečního sportu je společenský tanec - zábavná
            odpočinková činnost, při které si tanečníci stihnou popovídat.
            Soutěžní tanec je ale sport v pravém slova smyslu a postupem času je
            svou podobou společenskému tanci stále vzdálenější.
          </p>
          <div class="row g-5">
            <div class="col-md-6">
              <a href="#" class="hpSlider__item">
                <img src="images/content/post.jpg" loading="lazy" alt="klub" />
                <div class="h3">Latina</div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="hpSlider__item">
                <img src="images/content/post.jpg" loading="lazy" alt="klub" />
                <div class="h3">Breakdance</div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="hpSlider__item">
                <img src="images/content/post.jpg" loading="lazy" alt="klub" />
                <div class="h3">Standardní tance</div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#" class="hpSlider__item">
                <img src="images/content/post.jpg" loading="lazy" alt="klub" />
                <div class="h3">Rock’n’Roll</div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="col-12">
            {% include "@components/aside/aside-default.twig" %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
