{% extends "@components/base/base.twig" %} {% set title = "16.0_test" %} {%
block main %}
<div class="base__wrapper">
  <div class="row">
    <div class="col-12">
      <div class="header-top">
        <a href="#" class="header__logo">
          <img src="images/ico/logo.svg" alt="logo" />
        </a>
        <ul class="header-top__list">
          <li>
            <a href="#">ČESKÝ SVAZ TANEČNÍHO SPORTU</a>
          </li>

          <li>
            <a href="#">ČLEN ČOV</a>
          </li>
        </ul>
        <ul class="header-top__links">
          <li>
            <a href="#"><img src="images/ico/home.svg" alt="CSTS" /> CSTS.CZ</a>
          </li>

          <li>
            <a href="#">
              <img src="images/ico/shop.svg" alt="E-SHOP" /> E-SHOP
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/ico/trophy.svg" alt="SOUTĚŽE A VÝSLEDKY" />
              SOUTĚŽE A VÝSLEDKY
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12">{% include "@components/header/header.twig" %}</div>
    {% include "@components/menuNews/menuNews-2.twig" %}
  </div>
  <div class="container">
    <div class="headerPage">
      <h1 class="h1">Stránka</h1>
    </div>
  </div>
</div>

<main class="main" aria-label="Hlavní obsah">
  <section class="static-section">
    <div class="container">
      <div class="row g-5">
        <div class="col-xl-8 mt-4">
          <div class="o-content">
            <div class="row g-5 mt-4">
              <div class="col-md-6">
                <div class="contactItem">
                  <div class="contactItem__box">
                    <div class="contactItem__img">
                      <img
                        src="/upload/gallery/1727454970_Foto kontakt_7.png"
                        alt="Foto kontakt_7.png"
                        width="2000"
                        height="2000"
                      />
                    </div>
                    <div class="contactItem__info">
                      <h4 class="h4">Ing. Rostislav Filgas</h4>
                      <p class="contactItem__position">Prezident</p>
                      <ul class="contactItem__contacts">
                        <li class="contact-email">
                          <a href="mailto:president@csts.cz"
                            >president@csts.cz</a
                          >
                        </li>
                        <li class="contact-phone">+420 602 506 266</li>
                      </ul>
                    </div>
                  </div>
                  <div class="contactItem__bottom">
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="contactItem">
                  <div class="contactItem__box">
                    <div class="contactItem__img">
                      <img
                        src="/upload/gallery/1727454980_Foto kontakt_2.png"
                        alt="Foto kontakt_2.png"
                        width="2000"
                        height="2000"
                      />
                    </div>
                    <div class="contactItem__info">
                      <h4 class="h4">Ing. Filip Karásek</h4>
                      <p class="contactItem__position">1. Viceprezident</p>
                      <ul class="contactItem__contacts">
                        <li class="contact-email">
                          <a href="mailto:vnitro@csts.cz">vnitro@csts.cz</a>
                        </li>
                        <li class="contact-phone">+420 774 462 104</li>
                      </ul>
                    </div>
                  </div>
                  <div class="contactItem__bottom">
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="contactItem">
                  <div class="contactItem__box">
                    <div class="contactItem__img">
                      <img
                        src="/upload/gallery/1727454990_Foto kontakt_5.png"
                        alt="Foto kontakt_5.png"
                        width="2000"
                        height="2000"
                      />
                    </div>
                    <div class="contactItem__info">
                      <h4 class="h4">Ing. Martin Dvořák</h4>
                      <p class="contactItem__position">Viceprezident</p>
                      <ul class="contactItem__contacts">
                        <li class="contact-email">
                          <a href="mailto:sport@csts.cz">sport@csts.cz</a>
                        </li>
                        <li class="contact-phone">+420 603 483 002</li>
                      </ul>
                    </div>
                  </div>
                  <div class="contactItem__bottom">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="col-12">
            <aside class="aside">
              <ul class="aside__menu">
                <li>
                  <a href="/sekretariat"> Sekretariát </a>
                </li>
                <li>
                  <a href="#" class="active"> Statutární zástupci </a>
                </li>
                <li>
                  <a href="/vykonna-rada"> Výkonná rada </a>
                </li>
                <li>
                  <a href="/dozorci-a-rozhodci-rada">
                    Dozorčí a rozhodčí rada
                  </a>
                </li>
                <li>
                  <a href="/komise"> Komise </a>
                </li>
                <li>
                  <a href="/redakce"> Redakce </a>
                </li>
              </ul>
              <h3 class="h4 mb-3">Aktuality</h3>
              <a href="/uvodni-slovo-prezidenta-csts/a6" class="topstory__item">
                <div class="topstory__img">
                  <img
                    src="/data/article/6/clanek-cover-preziden-jpeg-jpeg.jpeg"
                    loading="lazy"
                    alt="clanek"
                  />
                  <span class="tag" style="background-color: #a855f7"
                    >Taneční sport</span
                  >
                </div>
                <div class="topstory__info">
                  <h3>Úvodní slovo prezidenta ČSTS</h3>
                  <span>4. 10. 2024</span>
                </div>
              </a>
              <a
                href="/brno-open-2024-svetova-tanecni-spicka-znovu-v-brne/a5"
                class="topstory__item"
              >
                <div class="topstory__img">
                  <img
                    src="/data/article/5/clanek-cover-brno-jpeg-jpeg.jpeg"
                    loading="lazy"
                    alt="clanek"
                  />
                  <span class="tag" style="background-color: #3b82f6"
                    >Soutěže</span
                  >
                </div>
                <div class="topstory__info">
                  <h3>Brno Open 2024: Světová taneční špička znovu v Brně</h3>
                  <span>24. 9. 2024</span>
                </div>
              </a>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
