{% extends "@components/base/base.twig" %} {% set title = "16.0_test" %} {%
block main %}
<div class="base__wrapper">
  <div class="row">
    <div class="col-12">
      <div class="header-top">
        <a href="#" class="header__logo">
          <img src="images/ico/logo.svg" alt="logo" />
        </a>
        <ul class="header-top__list">
          <li>
            <a href="#">ČESKÝ SVAZ TANEČNÍHO SPORTU</a>
          </li>

          <li>
            <a href="#">ČLEN ČOV</a>
          </li>
        </ul>
        <ul class="header-top__links">
          <li>
            <a href="#"><img src="images/ico/home.svg" alt="CSTS" /> CSTS.CZ</a>
          </li>

          <li>
            <a href="#">
              <img src="images/ico/shop.svg" alt="E-SHOP" /> E-SHOP
            </a>
          </li>
          <li>
            <a href="#">
              <img src="images/ico/trophy.svg" alt="SOUTĚŽE A VÝSLEDKY" />
              SOUTĚŽE A VÝSLEDKY
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12">{% include "@components/header/header.twig" %}</div>
    {% include "@components/menuNews/menuNews-2.twig" %}
  </div>
  <div class="container">
    <div class="headerPage">
      <h1 class="h1">Stránka</h1>
    </div>
  </div>
</div>

<main class="main" aria-label="Hlavní obsah">
  <section class="static-section">
    <div class="container">
      <div class="row g-5">
        <div class="col-xl-8 mt-4">
          <div class="o-content">
            <div class="row g-5 mt-4">
              <div class="col-md-6">
                <div class="contactItem">
                  <div class="contactItem__box">
                    <div class="contactItem__img">
                      <img src="images/content/avatar.png" alt="avatar" />
                    </div>
                    <div class="contactItem__info">
                      <h4 class="h4">Ing. Jana Musalová, MSc.</h4>
                      <p class="contactItem__position">
                        Přihlášky ke členství, hostování, přestupy, soutěžní
                        průkazy, soutěže - úpravy propozic, WDSF karty,
                        nominace, zvací dopisy, porotci, funkcionáři a trenéři
                      </p>
                      <ul class="contactItem__contacts">
                        <li class="contact-email">
                          <a href="mailto:repre@csts.cz">repre@csts.cz</a>
                        </li>
                        <li>
                          <a href="mailto:zdravotni.zpusobilost@csts.cz">
                            zdravotni.zpusobilost@csts.cz
                          </a>
                        </li>
                        <li class="contact-phone">605 407 830</li>
                      </ul>
                    </div>
                  </div>
                  <div class="contactItem__bottom">
                    <p>fdfdfd</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="contactItem">
                  <div class="contactItem__box">
                    <div class="contactItem__img">
                      <img src="images/content/avatar.png" alt="avatar" />
                    </div>
                    <div class="contactItem__info">
                      <h4 class="h4">Bc. Jan Musal</h4>
                      <p class="contactItem__position">ekonomické agendy</p>
                      <ul class="contactItem__contacts">
                        <li class="contact-email">
                          <a href="mailto:fakturace@csts.cz"
                            >fakturace@csts.cz</a
                          >
                        </li>
                        <li class="contact-phone">774 238 148</li>
                      </ul>
                    </div>
                  </div>
                  <div class="contactItem__bottom">
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="contactItem">
                  <div class="contactItem__box">
                    <div class="contactItem__img">
                      <img src="images/content/avatar.png" alt="avatar" />
                    </div>
                    <div class="contactItem__info">
                      <h4 class="h4">Barbora Surovčíková</h4>
                      <p class="contactItem__position">
                        SCM, NRT, zdravotní prohlídky, reprezentační soupravy,
                        E-shop CDSS
                      </p>
                      <ul class="contactItem__contacts">
                        <li class="contact-email">
                          <a href="mailto:repre@csts.cz">repre@csts.cz</a>
                        </li>
                        <li>
                          <a href="mailto:zdravotni.zpusobilost@csts.cz">
                            zdravotni.zpusobilost@csts.cz
                          </a>
                        </li>
                        <li class="contact-phone">775 056 811</li>
                      </ul>
                    </div>
                  </div>
                  <div class="contactItem__bottom">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="col-12">
            <aside class="aside">
              <ul class="aside__menu">
                <li>
                  <a href="/contacs"> Kontakt </a>
                </li>
                <li>
                  <a href="#" class="active"> Sekretariát </a>
                </li>
                <li>
                  <a href="statutarni-zastupci"> Statutární zástupci </a>
                </li>
                <li>
                  <a href="/vykonna-rada"> Výkonná rada </a>
                </li>
                <li>
                  <a href="/dozorci-rada"> Dozorčí rada </a>
                </li>
                <li>
                  <a href="/komise"> Komise </a>
                </li>
                <li>
                  <a href="/redakce"> Redakce </a>
                </li>
              </ul>
              <h3 class="h4 mb-3">Aktuality</h3>
              <a
                href="/tiskova-konference-ct-k-poradu-stardance/a4"
                class="topstory__item"
              >
                <div class="topstory__img">
                  <img
                    src="/data/article/4/460960529-8186505228136671-7791306314837581740-n-jpeg.jpeg"
                    loading="lazy"
                    alt="clanek"
                  />
                  <span class="tag" style="background-color: #ef4444"
                    >ČSTS</span
                  >
                </div>
                <div class="topstory__info">
                  <h3>Tisková konference ČT k pořadu StarDance</h3>
                  <span>25. 9. 2024</span>
                </div>
              </a>
              <a
                href="/exkluzivni-zakulisni-pohledy-csts-a-ceska-televize-spojuji-sily/a3"
                class="topstory__item"
              >
                <div class="topstory__img">
                  <img
                    src="/data/article/3/434408388-800882138756025-1743356110892287329-n.jpeg"
                    loading="lazy"
                    alt="clanek"
                  />
                  <span class="tag" style="background-color: #ef4444"
                    >ČSTS</span
                  >
                </div>
                <div class="topstory__info">
                  <h3>
                    Exkluzivní Zákulisní Pohledy: ČSTS a Česká Televize spojují
                    síly
                  </h3>
                  <span>4. 9. 2024</span>
                </div>
              </a>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
