<div class="clubDetail">
  <div class="clubDetail__header">
    <h2 class="h2">Taneční škola Standardklub Praha</h2>
    {% include "@components/social/social.twig" %}
  </div>
  <div class="clubDetail__tag">
    <strong>Registrován v divizi:</strong>
    <span class="text-primary">Pražská divize</span>
  </div>
  <ul class="clubDetail__inner">
    <li class="clubDetail__col">
      <div class="clubDetail__box">
        <div class="clubDetail__icon">
          <img src="images/ico/map-pin.svg" alt="pin" />
        </div>
        <ul class="clubDetail__list">
          <li class="clubDetail__item">
            <strong>Adresa: </strong>
            <ul>
              <li>Dance Factory Prague, z.s.</li>
              <li>Za kovárnou 422/23</li>
              <li>111 01, Praha</li>
            </ul>
          </li>
          <li class="clubDetail__item">
            <strong>IČO:</strong>
            <ul>
              <li>05203414</li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li class="clubDetail__col">
      <div class="clubDetail__box">
        <div class="clubDetail__icon">
          <img src="images/ico/user-circle.svg" alt="user" />
        </div>
        <ul class="clubDetail__list">
          <li class="clubDetail__item">
            <strong>Předseda: </strong>
            <ul>
              <li>Marek Dědík</li>
            </ul>
          </li>
          <li class="clubDetail__item">
            <strong>Telefon:</strong>
            <ul>
              <li>603 200 652</li>
            </ul>
          </li>
          <li class="clubDetail__item">
            <strong>E-mail:</strong>
            <ul>
              <li>
                <a href="mailto:marekdedik@seznam.cz">marekdedik@seznam.cz</a>
              </li>
            </ul>
          </li>
          <li class="clubDetail__item">
            <strong>Web:</strong>
            <ul>
              <li><a href="www.sktanec.cz">www.sktanec.cz</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
