.search-section {
  padding-bottom: 80px;
  &__link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: var(--color-violet-950);
    text-decoration-color: transparent;
    &:hover {
      text-decoration-color: inherit;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      gap: 16px;
    }
    .hpSearch-form__input {
      width: 34rem;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
    form {
      margin: 0;
      @include media-breakpoint-down(md) {
        max-width: 100% !important;
      }
    }
  }

  &__table {
    table {
      width: 100%;
    }
    tr th:last-child,
    tr td:last-child {
      text-align: right;
    }
    th,
    td {
      padding: 8px 16px;
      text-align: left;
      border-bottom: 1px solid var(--color-slate-200);
    }
    th {
      font-weight: 700;
      font-size: 12px;
      line-height: 1.5;
      text-transform: uppercase;
    }
    td {
      font-size: 16px;
      line-height: 1.75;
    }
    td a {
      color: var(--color-violet-950);
      text-decoration-color: transparent;
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
}
#map-canvas {
  overflow: initial !important;
  height: 100%;
  width: 100%;
}
.map-wrapper {
  width: 100%;
  overflow: hidden;
  height: 480px;
  position: relative;
  margin-bottom: 32px;
}
.map {
  iframe {
    display: block;
    width: 100%;
  }
}
div[title=""][role="img"] {
  width: 66px !important;
  height: 66px !important;
  background-size: cover;
  border-radius: 100%;
  img {
    width: 100% !important;
    height: 100% !important;
  }
}
